@use "sass:list";

@import "../data/variables";
$fontExtra: null !default;
$fonts: list.join(list.join($fontHeadings, $fontText), $fontExtra);

$font-family-sans-serif: list.join($fontText, ("Noto Color Emoji", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji")) !default;
$headings-font-family: list.join($fontHeadings, ("Noto Color Emoji", $fontText, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji")) !default;

$primary: #C71585;
$alert-border-level: -3;

$link-decoration: none;
$link-hover-decoration: underline;

$header-height: 80px;
$header-margin: $header-height + 36px;

$container-width: 920px;
$container-wide-width: 1300px;
$aside-width: 332px;

$modal-backdrop-opacity: .1;

$glassBlur: 12px;
$glassBlur-sm: $glassBlur / 2;

$wide-escape-size: 6rem;

$square-button-size: 2.2rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/utilities";

@import '~@fortawesome/fontawesome-pro/scss/variables';

$primary-dark: #ff95bb;

$colours: (
    'pink':   ('light': $primary,    'dark': $primary-dark),
    'red':    ('light': $red,        'dark': $red-400),
    'orange': ('light': $orange-600, 'dark': $orange-300),
    'green':  ('light': $green,      'dark': $green-300),
    'blue':   ('light': $blue-700,   'dark': $blue-200),
    'grey':   ('light': $gray-600,   'dark': $gray-600),
    'default':('light': $body-color, 'dark': $light),
);
